---
---
{% assign mattContact = site.data.contacts.mattSamardge %}
{% assign zacContact = site.data.contacts.zacPierce %}
{% assign bexContact = site.data.contacts.bexMoss %}

<section id="background" class="row">
    <div class="col">
        <h2 class="text-center">Background</h2>
        <p>
            I built <cite>DemiSword: Bubonic</cite> with a team during Global Game Jam in January 2018.
            My first game jam experience the previous summer had not been great, so I almost didn't attend this year.
            Luckily though, my business partner, {% include contact-link.html contact="mattSamardge" %},
            and I both decided to get tickets. During the theme presentation, I got to joking around with
            {% include contact-link.html contact="zacPierce" %} (a fellow programmer whom I knew from college),
            {% include contact-link.html contact="bexMoss" %} (a talented painter and musician),
            and another artist.
            By the end of the presentation, we had decided to collaborate, and {{ mattContact.name.first }} joined on as another artist when he found me afterward.
        </p>
        <p>
            The theme was "Transmission", so {{ zacContact.name.first }} had an idea for a 2-player game where something is being "transmitted" between the players.
            We decided that the "thing" would be a powerful sword, and the players had to throw it back and forth because it was too powerful
            for one player to hold forever (i.e., it would slowly drain their health), but it was still their only weapon against waves of enemies.
            Swords got the group thinking about an old, medieval setting, so the enemies became rats infested with bubonic plague!
            To make the sword itself seem otherworldly, the artists gave it a vibrant mix of colors and an almost floral shape.
        </p>
        <p>
            The game came together very nicely, with awesome backgrounds from {{ mattContact.name.first }}, character sprites from the other artist,
            excellent music and custom SFX from {{ bexContact.name.first }}, and tight input controls by {{ zacContact.name.first }};
            I built the enemy AI and the tutorial. We thought of several different ideas for the game's name,
            eventually combining two of them into <cite>DemiSword: Bubonic</cite>, as seen on the game's GGJ page.
            During the final presentation, I introduced the game, then {{ zacContact.name.first }} commentated while two volunteers from the audience played,
            which was very gratifying to watch!
        </p>
    </div>
</section>

<section id="details" class="row">
    <div class="col">
        <h2 class="text-center">Technical Details</h2>
        <p>
            <cite>DemiSword: Bubonic</cite> was my first group game project.
            {{ mattContact.name.first }} and I had started <a href="/projects/mobile/hhh"><cite>High Hand Hold'em™</cite></a> that summer,
            but we were the only two working on it.
            So, this game was my first experience with making a design doc, defining/delegating gamedev tasks,
            and managing code and binary assets in the same version control system (in this case, Unity Collaborate).
        </p>
        <p>
            When building the enemy AI, I was trying to emulate the "walls" of enemies seen in one of my favorite Flash games,
            <a href="https://www.crazymonkeygames.com/Boxhead-The-Zombie-Wars.html" {{ site.externalLinkAttributes }}><cite>Boxhead: the Zombie Wars</cite></a>,
            which I think I achieved to good effect (see the GIFs above).
            Thinking back on the code, it was not very efficient (just a bunch of for loops);
            if were I to do it all again, I would try to parallelize the enemy processing with something like Unity's Job System.
        </p>
        <p>
            The inclusion of the tutorial and quit buttons was also pretty slick. Little things like this are often overlooked in game jam games,
            but they add that extra bit of polish to the presentation, especially with the "opening narration" that I was able to integrate into the tutorial.
        </p>
    </div>
</section>
