<div class="dropdown">
    <button id="dan-theme" class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" title="Toggle theme">
        {% include bootstrap-icons/circle-half.svg class="my-1 theme-icon-active" %}
        <span class="d-none ms-2" id="dan-theme-text">Toggle theme</span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dan-theme-text">
        {% for theme in site.data.themes %}
        <li>
            <button type="button"
                class="dropdown-item d-flex align-items-center {% if theme.isPressed %}active{% endif %}"
                data-bs-theme-value="{{ theme.slug }}"
                aria-pressed="{% if theme.isPressed %}true{% else %}false{% endif %}"
            >
                {% include bootstrap-icons/{{ theme.icon }}.svg class="me-2 theme-icon" %}
                {{ theme.name }}
                <span class="d-none ms-2 dan-theme-check">✓</span>
            </button>
        </li>
        {% endfor %}
    </ul>
</div>
