{% assign mainContact = site.data.contacts.danVicarel %}

<p class="fw-bold">Built with ❤️ by me, {{ mainContact.name.first }} {{ mainContact.name.last }}!</p>
<p>
    {% for contactLink in mainContact.links %}
        <a href="{{ contactLink.uri }}" {{ site.externalLinkAttributes }} aria-label="{{ contactLink.title }}" class="text-decoration-none">
            {% include bootstrap-icons/{{ contactLink.icon }}.svg title=contactLink.title %}
        </a>
        {% if forloop.last != true %}&nbsp;{% endif %}
    {% endfor %}
</p>

<p>
    © {{ site.copyright.startYear }}-{{ site.copyright.endYear }} {{ site.copyright.owner }}.
    All rights reserved.
</p>

{% if site.privacyPolicyUri %}
<p><a href="{{ site.privacyPolicyUri }}">Privacy Policy</a></p>
{% endif %}