h1 .dan-heading-link {
  visibility: hidden;
}
h1:hover .dan-heading-link {
  visibility: inherit;
}
h2 .dan-heading-link {
  visibility: hidden;
}
h2:hover .dan-heading-link {
  visibility: inherit;
}
h3 .dan-heading-link {
  visibility: hidden;
}
h3:hover .dan-heading-link {
  visibility: inherit;
}
