h1 .heading-link {
  visibility: hidden;
}
h1:hover .heading-link {
  visibility: inherit;
}
h2 .heading-link {
  visibility: hidden;
}
h2:hover .heading-link {
  visibility: inherit;
}
h3 .heading-link {
  visibility: hidden;
}
h3:hover .heading-link {
  visibility: inherit;
}
