---
---
<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.isRedirect %}
    <meta http-equiv="refresh" content="1;url=/">
    {% endif %}

    {% include favicons.html %}

    {% comment %}
    Only let web crawlers index the production site. See https://blog.hubspot.com/marketing/robots-txt-file
    {% endcomment %}
    {% unless site.isProduction %}
    <meta name="robots" content="noindex">
    {% endunless %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link href="/shared-v1.css" rel="stylesheet">

    {% assign pagePathParts = page.dir | split: "/" %}
    {% if pagePathParts[1] == "projects" %}
        {% assign category = site.data.projectCategories | where: "slug", pagePathParts[-2] | first %}
        {% assign project = category.projects | where: "slug", pagePathParts[-1] | first %}
        <title>{{ site.title }} | {{ project.header}}</title>
    {% else %}
        <title>{{ site.title }} | {{ page.title }}</title>
    {% endif %}

    <script src="/shared-v2.js"></script>
    <script src="/color-mode-dropdown-v1.js"></script>
</head>

<body>
    {% include navbar.html %}

    {{ content }}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous">
    </script>

    <script src="/category-tab-anchors-v1.js"></script>
</body>

</html>