---
layout: default-with-footer
---
<div class="d-flex flex-column">
    {% include fixed-home-button %}
</div>

<main class="container">

    {% assign pagePathParts = page.dir | split: '/' %}
    {% assign category = site.data.projectCategories | where: "slug", pagePathParts[-2] | first %}
    {% assign project = category.projects | where: "slug", pagePathParts[-1] | first %}

    <h1 class="display-1 text-center"><cite>{{ project.header }}</cite></h1>

    {% if project.images.size > 0 %}
    <div class="row">
        <div class="col">
            {% include project-carousel.html images=project.images %}
        </div>
    </div>
    {% endif %}

    <div class="row mt-3">
        <div class="col d-flex justify-content-center">
            {% include project-links.html links=project.links %}
        </div>
    </div>

    {{ content }}

</main>
