---
layout: default-with-footer
---

{% assign pagePathParts = page.dir | split: '/' %}
{% assign category = site.data.projectCategories | where: "slug", pagePathParts[-2] | first %}
{% assign project = category.projects | where: "slug", pagePathParts[-1] | first %}

<main class="container">

    <h1 class="display-1 text-center"><cite>{{ project.header }}</cite></h1>

    {% if project.embeds %}
    <div class="row row-cols-1 row-cols-lg-2 justify-content-center">
        {% for embed in project.embeds %}
        <div class="col {% unless forloop.first %}mt-3 mt-lg-0{% endunless %}">
            <div class="ratio ratio-16x9">
                <iframe title="{{ embed.title }}" src="{{ embed.src }}" {% if embed.allowFullScreen %}allowfullscreen{% endif %}></iframe>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if project.images.size > 0 %}
    <div class="row mt-4">
        <div class="col">
            {% include project-carousel.html project=project %}
        </div>
    </div>
    {% endif %}

    <div class="row mt-4 mb-4">
        <div class="col d-flex justify-content-center">
            {% include project-links.html links=project.links %}
        </div>
    </div>

    {{ content }}

</main>
