/* Shared */
html {
    scroll-behavior: smooth;
}

.dan-hover-shift {
    top: 0;
    transition: top ease 0.25s;
}

.dan-hover-shift:hover {
    top: -0.5em;
}

.dan-bg-overlay,
[data-bs-theme="light"] .dan-bg-overlay {
    background-color: rgb(0% 0% 0% / 50%);
}

[data-bs-theme="dark"] {
    .dan-bg-overlay {
        background-color: rgb(100% 100% 100% / 50%);
    }
}

.dan-w-10 {
    width: 10% !important;
}

.dan-h-10rem {
    height: 10rem !important;
}

/* Header */
header {
    background-image: linear-gradient(rgb(36, 12, 125), rgb(0, 0, 0));
    color: white;
}