<!doctype html>
<html lang="en">
  <head>
    <%= require("html-loader!./vendor-styles.html") %>
    <%= require("html-loader!./head.html") %>
    <title><%= htmlWebpackPlugin.options.title %>Projects</title>
  </head>
  <body>
    <div class="container">

      <%= require("html-loader!./navbar.html") %>

      <br/>

      <% const personData = require("./data.js") %>
      <% let section = [] %>
      <% let headerId = "" %>
      <% function getHeading(level, id, text) { %>
        <% return `<h${level} id="${escape(id)}">${text} <a href="#${escape(id)}" aria-label="Anchor" class="header-link">#</a></h${level}>`; %>
      <% } %>

      <!-- Projects -->
      <section>
        <%= getHeading(1, "Projects", "Projects") %>
        <% section = personData.projects %>
        <% for (const projGroup in section) { %>
          <div class="row">
            <div class="col">
              <%= getHeading(2, `Projects_${projGroup}`, projGroup) %>
              <ol>
                <% for (p = 0; p < section[projGroup].length; ++p) { %>
                  <li><%= section[projGroup][p] %></li>
                <% } %>
              </ol>
            </div>
          </div>
        <% } %>
      </section>

      <!-- Education -->
      <section>
        <%= getHeading(1, "Education", "Education") %>
        <% section = personData.education %>
        <% for (e = 0; e < section.length; e += 2) { %>
          <div class="row">
            <% for (e2 = 0; e2 < 2; ++e2) { %>
              <% if (e + e2 < section.length) { %>
                <% const school = section[e + e2] %>
                  <div class="col-md">
                    <%= getHeading(2, `Education_${school.title}`, school.title) %>
                    <p><%= school.graduationDate.month %>/<%= school.graduationDate.year %></p>
                    <img src="<%= school.imageUrl %>" alt="Image for <%= school.title %>" />
                    <p><%= school.degree %> (overal GPA <%= school.gpa %>)</p>
                    <p><%= school.location.streetNum %> <%= school.location.streetName %></p>
                    <p><%= school.location.city %>, <%= school.location.state %> <%= school.location.zip %></p>
                    <p><%= school.location.country %></p>
                  </div>
              <% } %>
            <% } %>
          </div>
        <% } %>
      </section>

      <%= require("html-loader!./footer.html") %>

    </div>

    <%= require("html-loader!./vendor-scripts.html") %>
  </body>
</html>