---
title: Home
---
<header class="min-vh-100 py-5 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col text-center">

                <img src="index/hero-logo-v1.png" class="img-fluid" alt="{{ site.logo.alt }}">
                <p class="display-1">Hi, I'm Dan!</p>

            </div>
        </div>
    </div>

    <div class="position-absolute bottom-0 start-50 translate-middle-x d-flex">
        <a class="display-1 text-reset dan-scroll-indicator" href="#welcome">
            {% include bootstrap-icons/chevron-compact-down.svg title="Continue" %}
        </a>
    </div>
</header>

<main class="container">

    <section id="welcome" class="row row-cols-1 row-cols-md-2 pt-5">
        <div class="col">
            <img class="w-100" src="index/dan-vicarel-headshot-2023.jpg"
                alt="Headshot of Dan in a blue collared shirt with a beta fish pattern on it, sitting at a desk with a Macbook, monitor, and blue Xbox One controller on it" />
        </div>
        <div id="welcome" class="col">
            <p class="lead">
                My name is Dan Vicarel, and you've found my little corner of the Internet!
                This site is very much a work in progress, but I needed an interactive space for my portfolio.
                You can view my full credentials on <a href="{{ site.data.contact.linkedin.uri }}">LinkedIn</a>.
            </p>
            <p class="lead">If you are looking to collaborate, please contact me at:</p>
            <ul class="lead">
                {% for contact in site.data.contact %}
                <li>
                    <a href="{{ contact.uri }}" class="text-decoration-none">
                        {% include bootstrap-icons/{{ contact.icon }}.svg title=contact.title %} {{ contact.text }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <div class="row mt-5">
        <section class="col">
            <h2 class="text-center display-2">My Projects</h2>

            <nav class="mt-4">
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    {% for category in site.data.projectCategories %}
                    <button class="nav-link {% if forloop.first %}active{% endif %}"
                        id="nav-tab-{{ category.slug }}" data-bs-toggle="tab"
                        data-bs-target="#nav-{{ category.slug }}" type="button" role="tab"
                        aria-controls="nav-{{ category.slug }}" aria-selected="true"
                    >
                        <span class="h3 d-flex align-items-center">
                            {% include bootstrap-icons/{{ category.icon }}.svg class="me-2" title=false %} {{ category.header }}
                        </span>
                    </button>
                    {% endfor %}
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
                {% for category in site.data.projectCategories %}
                <div class="tab-pane fade {% if forloop.first %}show active{% endif %}"
                    id="nav-{{ category.slug }}" role="tabpanel" aria-labelledby="nav-tab-{{ category.slug }}">
                    <div class="row justify-content-center row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 py-4">

                        {% for project in category.projects %}
                        <div class="col">
                            <div class="dan-hover-shift card shadow">
                                {% assign mainImg = project.images[0] %}
                                {% if mainImg %}
                                <img src="projects/{{ category.slug }}/{{ project.slug }}/{{ mainImg.src }}"
                                    class="card-img-top" alt="{{ mainImg.alt }}" />
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="projects/{{ category.slug }}/{{ project.slug }}" class="text-reset text-decoration-none stretched-link d-inline-block">
                                            <cite>{{ project.header}}</cite>
                                        </a>
                                        {% if project.years %}
                                        <span class="d-inline-block">
                                            ({{ project.years.start }}{% if project.years.end != project.years.start %} - {{ project.years.end }}{% endif %})
                                        </span>
                                        {% endif %}
                                    </h5>
                                    <p class="card-text">{% include_relative projects/{{ category.slug }}/{{ project.slug }}/_summary.html %}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</main>
