/* Shared */
html {
    scroll-behavior: smooth;
}

.dan-hover-shift {
    top: 0;
    background-color: rgba(var(--bs-body-bg-rgb));
    transition: all ease 0.25s;
}

.dan-hover-shift:hover {
    top: -0.5em;
}

[data-bs-theme="dark"] .dan-hover-shift:hover {
    filter: brightness(125%);
}

[data-bs-theme="light"] .dan-bg-overlay {
    background-color: rgb(0% 0% 0 / 50%);
}

[data-bs-theme="dark"] .dan-bg-overlay {
    background-color: rgb(100% 100% 100% / 50%);
}

.dropdown-menu .active .dan-theme-check {
    display: block !important;
}

.dan-w-10 {
    width: 10% !important;
}

.dan-h-10rem {
    height: 10rem !important;
}

/* Header */
#hero {
    background-image: linear-gradient(rgba(var(--bs-primary-rgb)), rgba(var(--bs-body-bg-rgb)));
    color: rgba(var(--bs-body-color-rgb));
}

.dan-scroll-indicator {
    align-self: flex-end;
    transform-origin: bottom;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    animation-timing-function: ease;
}

.dan-project-breadcrumb>li:last-child {
    max-width: 60%;
}

.dan-pad-under-header {
    padding-top: 4rem;
}

/* Inspired by https://css-tricks.com/making-css-animations-feel-natural */
@keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);
    }

    30% {
        transform: scale(.9, 1.1) translateY(-50px);
    }

    50% {
        transform: scale(1, 1) translateY(0);
    }

    57% {
        transform: scale(1, 1) translateY(-7px);
    }

    64% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}